#b11 {
   
   width: 0;
   height: 0;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 100px solid rgb(24, 219, 6);;
   z-index: 1;
   
}

#b11::after{
   content: '';
   width: 0;
   height: 0;
   position: absolute;
   left: 40px;
   top: 167px;
   z-index: 2;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
   border-bottom: 80px solid rgb(252, 253, 252);;
}
#b12 {
   
   position: absolute;
   top: 380px;
   width: 0;
   height: 0;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 100px solid red;
   
}
#b12::after{
   content: '';
   width: 0;
   height: 0;
   position: absolute;
   left:-40px;
   top: 15px;
   z-index: 2;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
   border-bottom: 80px solid rgb(252, 253, 252);;
}

#d11 {
   right: 30px;
   z-index: 3;
   width: 0;
   height: 0;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 100px solid red;
   position: absolute;
}

#d12 {
   right: 30px;
   top: 380px;
   z-index: 3;
   width: 0;
   height: 0;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 100px solid rgb(24, 219, 6);
   position: absolute;
   
}